.about__first{
  height: 600px;
  background: url('/src/img/about/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contain{
    h1{
      text-align: center;
      font-family: brownbold;
      color: white;
      font-size: 48px;
      margin-bottom: 15px;
    }
    h3{
      text-align: center;
      font-family: brownlight;
      color: white;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 769px){

    height: 450px;
    h1{
      font-size: 36px !important;
    }
    h3{
      font-size: 16px !important;
    }
  }
}

.about__second{
  display: flex;
  flex-direction: column;
  align-items: center;

  .contain{
    padding: 25px 50px;
    width: 75%;

    h2{
      text-align: center;
      font-size: 48px;
      font-family: brownbold;
      margin-bottom: 50px;
      color: black;
    }

    p{
      text-align: justify;
      text-align-last: center;
      margin-bottom : 25px;
      font-family: brownlight;
      line-height: 150%;
    }
  }

  @media screen and (max-width: 769px){
    h2{
      font-size: 24px !important;
    }
  }
}

.about__third{
  background: #FAFAFC;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contain{
    padding: 25px 50px;
    width: 75%;

    h2{
      text-align: center;
      font-size: 48px;
      font-family: brownbold;
      margin-bottom: 50px;
      color: black;
    }

    .values{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;

      .value{
        display: block;
        background: white;
        width: 255px;
        height: 350px;
        padding: 25px;
        margin: 25px;
        box-shadow: 14px 41px 54px 0 rgba(133,143,175,.1);
        border-radius: 15px;

        h4{
          color: black;
          text-align: center;
          font-family: brownregular;
          font-size: 16px;
          margin-bottom: 20px;
        }

        ul{
          list-style: none;
          text-align: center;

          li{
            margin-bottom: 10px;
            font-family: brownlight;
            font-size: 16px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 769px){
    h2{
      font-size: 24px !important;
    }

    .value{
      height: auto !important;
      margin:25px 0 !important;
    }
  }

}

.about__fourth{
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contain {
    padding: 50px;
    width: 75%;

    h2{
      color: black;
      text-align: center;
      font-size: 48px;
      font-family: brownbold;
      margin-bottom: 50px;
    }

    .steps{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;

      .step{
        display: block;
        width: 255px;
        height: 400px;
        padding: 25px;
        margin: 25px;
        transition: all .2s;
        border-radius: 20px;
        &:hover{
          box-shadow: 0px 0px 54px 5px rgba(133,143,175,.1);
        }

        .number{
          display: block;
          height: 75px;
          width: 75px;
          border-radius: 100%;
          margin: 10px auto 25px auto;


          &.n1{
            background: #662D91;
          }

          &.n2{
            background: linear-gradient(90deg, #A33695 0%, #ED6BAB 100%);
          }


          &.n3{
            background: linear-gradient(90deg, #FF7784 0%, #EA1DEF 100%);
          }

          &.n4{
            background: linear-gradient(90deg, #EA1DEF 0%, #35B5EF 100%);
          }

          h3{
            color: black;
            font-family: brownbold;
            font-size: 46px;
            text-align: center;
            color: white;
          }
        }

        h4{
          font-family: brownregular;
          text-align: center;
          margin-bottom: 25px;
          color: black;
        }

        p{
          font-family: brownlight;
          text-align: center;
          margin: 0 auto 10px auto;
          font-size: 16px;
          width: 75%;

        }
      }
    }
  }

  @media screen and (max-width: 769px){
    h2{
      font-size: 24px !important;
    }

    .steps{
      flex-direction: column !important;
    }

    .step{
      margin: 25px 0 !important;
      height: auto !important;
      padding: 25px 0 !important;
    }
  }
}