.programs__first {
  height: 600px;
  background: url("/src/img/redplant.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .programs__first .dark_overlay {
    z-index: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 30%, rgba(0, 0, 0, 0.6) 100%); }
  .programs__first .contain {
    z-index: 10; }
    .programs__first .contain h1 {
      text-align: center;
      font-family: brownbold;
      color: white;
      font-size: 48px;
      margin-bottom: 15px; }
    .programs__first .contain h3 {
      text-align: center;
      font-family: brownlight;
      color: white;
      font-size: 18px; }
  @media screen and (max-width: 415px) {
    .programs__first {
      padding: 25px !important; }
      .programs__first h1 {
        font-size: 36px !important; }
      .programs__first h3 {
        font-size: 16px !important; } }

/*# sourceMappingURL=coaching.css.map */
