.coaching__first{
  height: 600px;
  background: url('/src/img/redplant.jpg') center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .dark_overlay{
    z-index: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 30%, rgba(0,0,0,0.6) 100%);
  }

  .contain{
    z-index: 10;

    h1{
      text-align: center;
      font-family: brownbold;
      color: white;
      font-size: 48px;
      margin-bottom: 15px;
    }

    h2{
      text-align: center;
      font-family: brownlight;
      color: white;
      font-size: 18px;
    }


  }

  @media screen and (max-width: 769px){
    height: 450px !important;
  }

  @media screen and (max-width: 415px){
    padding: 25px !important;

    h1{
      font-size: 36px !important;
    }

    h3{
      font-size: 16px !important;
    }

  }
}

.coaching{
  display: flex;
  flex-direction: column;
  align-items: center;

  .contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 75px;
    width: 75%;

    @media screen and (max-width: 769px){
      padding: 50px 75px 25px 75px !important;
    }

    h3{
      padding: 0 0 25px 0;
      font-family: brownbold;
      font-size: 36px;
      text-align: center;
    }
    p{
      font-family: brownlight;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      line-height: 150%;
    }

    h4{
      padding-top: 15px;
      font-family: brownbold;
      font-style: italic;
    }

    a{
      text-align: center;
      margin:50px;
      color: white !important;
      text-decoration: none;
      display: inline-block;
      padding: 15px 50px;
      background: linear-gradient(85deg, rgb(255,118,109), rgb(220,82,244));
      width: auto;
      border-radius: 10px;
      font-size: 16px;
      font-family: brownbold;
    }

  }

  @media screen and (max-width: 769px){



    h3{
      font-size: 24px !important;
    }

    p{
      text-align: justify !important;
      text-align-last: center;
    }

  }

}

.coaching__second{
  display: flex;
  flex-direction: column;
  align-items: center;

  ul{
    list-style: none;
    font-family: brownbold;
    text-align: center;
    padding: 25px 0 ;
    color: #3D3D3D;

    li{
      margin: 10px 0 ;
    }
  }


}

.coaching__third{
  background: linear-gradient(90deg, #FF7784 0%, #ed60f1 100%);
  margin: 0 75px;
  box-shadow: 10px 10px 20px 8px rgba(133,143,175,0.1);
  border-radius: 25px;

  @media screen and (max-width: 769px){
    margin: 0 25px !important;
  }

  h3,h4,p{
    color: white;
  }

}

.coaching__fourth{
  ul{
    list-style: none;
    font-family: brownlight;
    text-align: center;
    padding: 25px 0 ;
    color: #3D3D3D;

    li{
      margin: 10px 0 ;
    }
  }

  @media screen and (max-width: 769px){


    ul{
      text-align: justify !important;
      text-align-last: center;
    }

  }
}

.coaching__fifth{



  .contain{
    background: #FAFAFC;
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 25px 75px 0 75px !important;
  }

}




