.contactform{
  height: calc(100vh - 94px);
  background: linear-gradient(45deg, #ff766d, #dc52f4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contain{
    display: flex;
    flex-direction: column;
    width: 390px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 42px 55px 45px 55px;

    @media screen and (max-width: 769px){
     width: 75% !important;
      padding: 42px 35px 45px 35px;
    }

    h1{
      font-family: brownbold;
      margin-bottom: 25px;
    }

    .form{
      margin: 10px;
    }

    input[type="text"], input[type="email"], textarea{

      background: none;
      height: 40px;
      border: 0;
      border-bottom: solid 2px #f2f2f2;
      font-family: brownlight;
      font-weight: 500;
      font-size: 14px;
      width: 100%;
      padding: 0 0 0 15px;
    }

    textarea{
      margin-top: 10px;
      min-height: 115px;
      max-width: 385px;
      max-height: 385px
    ;

    }

    label{
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      font-family: brownlight;
      display: block;

    }

    button{
      font-size: 14px;
      font-family: brownregular;
      background:#f0f1f7;
      border: none;
      border-radius: 25px;
      padding: 12px 20px;
      cursor: pointer;
      margin-top: 25px;
    }

  }



}

.alert{
  font-family: brownlight;
  font-weight: 600;
  font-size: 14px;
  color: #c7c7c7;
}

