@font-face {
  font-family: 'brownregular';
  src: url('https://ressources.killiandivincenzo.fr/fonts/brownregular.woff') format("woff")
}

@font-face {
  font-family: 'brownbold';
  src: url('https://ressources.killiandivincenzo.fr/fonts/brownbold.woff') format("woff")
}

@font-face {
  font-family: 'brownlight';
  src: url('https://ressources.killiandivincenzo.fr/fonts/brownlight.woff') format("woff")
}