.footer{
  background-color: #FAFAFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 -41px 54px 0 rgba(133,143,175,0.1);


  .contain {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 75px;
    width: 75%;

    img{
      height: 60px;
    }

    h4{
      font-size: 18px;
      font-family: brownbold;
      margin-bottom: 25px;
    }

    ul{
      list-style: none;
    }

    li{
      font-family:brownlight;
      margin-bottom: 5px;
    }

    a{
      text-decoration: none;
      color: #201553;
    }

    div{
      padding: 25px;

    }


  }

  .copyright{
    padding: 25px 100px;

    font-family: brownlight;
    font-size: 14px;
    text-align: center;

  }

  @media screen and (max-width: 769px){
    .contain{
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 50px !important;

      div{
        padding: 25px 0;
      }
    }

    .copyright{
      padding: 25px 50px !important;
    }
  }
}

