* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'brownregular';
  src: url("https://ressources.killiandivincenzo.fr/fonts/brownregular.woff") format("woff"); }
@font-face {
  font-family: 'brownbold';
  src: url("https://ressources.killiandivincenzo.fr/fonts/brownbold.woff") format("woff"); }
@font-face {
  font-family: 'brownlight';
  src: url("https://ressources.killiandivincenzo.fr/fonts/brownlight.woff") format("woff"); }
.header {
  overflow: hidden;
  background: white;
  padding: 5px 100px;
  box-shadow: 0 41px 54px 0 rgba(133, 143, 175, 0.1);
  height: 84px;
  position: relative;
  z-index: 1; }

.header__menu2 {
  display: none; }

.header__logo {
  height: 60px;
  text-align: center;
  margin-top: 10px; }

.header__menu {
  float: right; }

.header__a {
  font-family: 'brownregular';
  float: left;
  color: black;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 14px;
  line-height: 60px; }

.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 30px; }
  .header__burger .pix {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 100%;
    transition: 0.2s ease-in-out; }
    .header__burger .pix:nth-of-type(1) {
      transform: translate(0px, 0px); }
    .header__burger .pix:nth-of-type(2) {
      transform: translate(12px, 0px); }
    .header__burger .pix:nth-of-type(3) {
      transform: translate(24px, 0px); }
    .header__burger .pix:nth-of-type(4) {
      transform: translate(0px, 12px); }
    .header__burger .pix:nth-of-type(5) {
      transform: translate(12px, 12px); }
    .header__burger .pix:nth-of-type(6) {
      transform: translate(24px, 12px); }
    .header__burger .pix:nth-of-type(7) {
      transform: translate(0px, 24px); }
    .header__burger .pix:nth-of-type(8) {
      transform: translate(12px, 24px); }
    .header__burger .pix:nth-of-type(9) {
      transform: translate(24px, 24px); }
  .header__burger:hover .pix {
    background-color: black; }
    .header__burger:hover .pix:nth-of-type(1) {
      transform: translate(-6px, -6px); }
    .header__burger:hover .pix:nth-of-type(3) {
      transform: translate(30px, -6px); }
    .header__burger:hover .pix:nth-of-type(7) {
      transform: translate(-6px, 30px); }
    .header__burger:hover .pix:nth-of-type(9) {
      transform: translate(30px, 30px); }
  .header__burger.active .pix:nth-of-type(1) {
    transform: translate(0, 0); }
  .header__burger.active .pix:nth-of-type(2) {
    transform: translate(6px, 6px); }
  .header__burger.active .pix:nth-of-type(3) {
    transform: translate(24px, 0); }
  .header__burger.active .pix:nth-of-type(4) {
    transform: translate(6px, 18px); }
  .header__burger.active .pix:nth-of-type(6) {
    transform: translate(18px, 6px); }
  .header__burger.active .pix:nth-of-type(7) {
    transform: translate(0, 24px); }
  .header__burger.active .pix:nth-of-type(8) {
    transform: translate(18px, 18px); }
  .header__burger.active .pix:nth-of-type(9) {
    transform: translate(24px, 24px); }
  .header__burger.active:hover .pix:nth-of-type(1) {
    transform: translate(-6px, -6px); }
  .header__burger.active:hover .pix:nth-of-type(2) {
    transform: translate(3px, 3px); }
  .header__burger.active:hover .pix:nth-of-type(3) {
    transform: translate(30px, -6px); }
  .header__burger.active:hover .pix:nth-of-type(4) {
    transform: translate(3px, 21px); }
  .header__burger.active:hover .pix:nth-of-type(6) {
    transform: translate(21px, 3px); }
  .header__burger.active:hover .pix:nth-of-type(7) {
    transform: translate(-6px, 30px); }
  .header__burger.active:hover .pix:nth-of-type(8) {
    transform: translate(21px, 21px); }
  .header__burger.active:hover .pix:nth-of-type(9) {
    transform: translate(30px, 30px); }

@media screen and (max-width: 1120px) {
  body.active {
    overflow: hidden;
    height: 100vh; }

  .header {
    padding: 5px 25px; }
    .header.active {
      height: 100vh;
      overflow: scroll; }

  .header__burger {
    display: block;
    float: right;
    padding: 12px 0;
    margin: 15px 10px; }

  .header__menu {
    display: none; }

  .header__menu2 {
    margin: 25px;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    list-style: none;
    justify-content: space-around; }
    .header__menu2.active {
      display: flex; }
    .header__menu2 .cuboidmenu {
      margin: 25px;
      position: relative;
      float: left;
      display: list-item;
      height: 250px;
      width: 250px;
      background: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      padding: 5px; }
      .header__menu2 .cuboidmenu div {
        width: 125px;
        height: 125px;
        margin: auto;
        display: block;
        margin-top: 25px; }
      .header__menu2 .cuboidmenu img {
        width: 125px;
        margin: auto;
        display: block;
        margin-top: 25px; }
      .header__menu2 .cuboidmenu p {
        font-family: brownregular;
        font-size: 22px;
        color: black !important;
        text-decoration: none;
        text-align: center;
        margin-top: 25px; }
        .header__menu2 .cuboidmenu p a {
          text-decoration: none;
          color: black !important; } }
.home__first {
  overflow: hidden; }
  .home__first .container {
    margin-top: 0; }
    .home__first .container .wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: 675px;
      position: relative;
      z-index: 1;
      flex-direction: row;
      justify-content: center; }
      .home__first .container .wrapper .home__first_lifepath {
        display: inline-block;
        max-width: 575px;
        margin-right: 4%;
        margin-left: 4%; }
        .home__first .container .wrapper .home__first_lifepath h1 {
          font-family: brownbold;
          font-size: 48px;
          overflow-wrap: break-word;
          max-width: 550px; }
        .home__first .container .wrapper .home__first_lifepath .subtitle {
          margin-top: 25px;
          font-family: brownlight; }
        .home__first .container .wrapper .home__first_lifepath a {
          color: white !important;
          text-decoration: none;
          display: inline-block;
          margin-top: 50px;
          padding: 15px 50px;
          background: linear-gradient(85deg, #ff766d, #dc52f4);
          width: auto;
          border-radius: 10px;
          font-size: 16px;
          font-family: brownregular; }
        .home__first .container .wrapper .home__first_lifepath span {
          border: solid 1px #C4C4C4;
          display: block;
          width: 50px;
          margin-top: 75px; }
        .home__first .container .wrapper .home__first_lifepath .baseline {
          margin-top: 10px;
          font-family: brownlight;
          overflow-wrap: break-word;
          width: 450px;
          color: #7F7F7F; }
      .home__first .container .wrapper img {
        margin-left: 4%;
        margin-right: 4%;
        width: 30%;
        min-width: 450px; }
  @media screen and (max-width: 768px) {
    .home__first {
      margin-top: 25px;
      background: none; }
      .home__first .wrapper {
        height: 590px !important; }
      .home__first h1 {
        text-align: center;
        max-width: 95% !important;
        margin: auto;
        font-size: 36px !important; }
      .home__first .subtitle {
        font-size: 16px;
        text-align: center;
        overflow-wrap: break-word;
        width: 90%;
        margin: auto; }
      .home__first span {
        margin: auto; }
      .home__first .baseline {
        font-size: 16px !important;
        width: 90% !important;
        margin: auto;
        text-align: center; }
      .home__first a {
        display: block !important;
        margin: 50px auto 0 auto  !important;
        width: 30% !important;
        font-size: 14px !important;
        text-align: center; }
      .home__first .home__first_lifepath {
        margin-bottom: 25px; }
      .home__first img {
        display: none; } }
  @media screen and (max-width: 1190px) {
    .home__first img {
      display: none; } }

.home__second {
  background-color: #ff7784;
  overflow: hidden; }
  .home__second .contain {
    padding: 50px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center; }
    @media screen and (max-width: 768px) {
      .home__second .contain {
        padding: 25px !important; } }
    .home__second .contain .story {
      margin: 50px;
      width: 50%; }
      .home__second .contain .story h2 {
        font-family: brownbold;
        font-size: 48px;
        color: white;
        margin-bottom: 50px; }
      .home__second .contain .story p {
        font-family: brownlight;
        color: white;
        margin-bottom: 25px; }
      .home__second .contain .story a {
        color: #FF7784 !important;
        text-decoration: none;
        display: inline-block;
        padding: 15px 50px;
        background: white;
        width: auto;
        border-radius: 10px;
        font-size: 16px;
        font-family: brownregular;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        text-align: center; }
    .home__second .contain img {
      margin: 50px;
      max-height: 600px; }
  @media screen and (max-width: 1420px) {
    .home__second .contain .story {
      width: 65% !important;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .home__second .contain .story h2, .home__second .contain .story p {
        text-align: center; }
      .home__second .contain .story h2 {
        font-size: 36px; }
      .home__second .contain .story p {
        text-align: justify;
        text-align-last: center; }
    .home__second .contain img {
      max-height: 500px; } }
  @media screen and (max-width: 480px) {
    .home__second .contain .story {
      margin: 25px !important;
      width: 100% !important; }
    .home__second .contain img {
      max-height: 400px; } }

.home__third {
  padding: 0px 50px 75px 50px; }
  .home__third .dark_overlay {
    display: none; }
  .home__third .contain {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home__third .contain h2 {
      font-size: 48px;
      font-family: brownbold;
      color: black;
      text-align: center;
      margin-bottom: 100px; }
      @media screen and (max-width: 768px) {
        .home__third .contain h2 {
          margin-bottom: 50px !important; } }
    .home__third .contain .program {
      position: relative;
      height: 350px;
      border-radius: 35px;
      background-color: white;
      width: 80%;
      box-shadow: 0px 2px 20px 8px rgba(133, 143, 175, 0.1);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 70px; }
      @media screen and (max-width: 768px) {
        .home__third .contain .program {
          margin-bottom: 35px !important; } }
      .home__third .contain .program .infos {
        padding: 75px;
        width: 60%; }
        .home__third .contain .program .infos h3 {
          font-family: brownbold;
          font-size: 36px;
          margin-bottom: 10px; }
        .home__third .contain .program .infos p {
          font-family: brownlight;
          font-size: 16px;
          margin-bottom: 50px; }
        .home__third .contain .program .infos a {
          color: white !important;
          text-decoration: none;
          padding: 15px 50px;
          background: linear-gradient(85deg, #ff766d, #dc52f4);
          width: auto;
          border-radius: 10px;
          font-size: 16px;
          font-family: brownregular;
          display: inline-block;
          text-align: center; }
      .home__third .contain .program .img {
        width: 40%;
        height: 100%; }
        .home__third .contain .program .img.ikigai {
          background: url("/src/img/home/ikigai.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .home__third .contain .program .img.hs {
          background: url("/src/img/home/hs.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .home__third .contain .program .img.child {
          background: url("/src/img/home/child.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .home__third .contain .program .img.working {
          background: url("/src/img/home/working.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
    .home__third .contain .pcustom {
      height: 700px;
      border-radius: 35px;
      background-color: white;
      width: 80%;
      box-shadow: 0px 2px 20px 8px rgba(133, 143, 175, 0.1);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap; }
      .home__third .contain .pcustom .img {
        width: 100%;
        height: 50%;
        background: url("/src/img/home/custom.jpg") no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover; }
      .home__third .contain .pcustom .infos {
        padding: 75px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center; }
        .home__third .contain .pcustom .infos h3 {
          font-family: brownbold;
          font-size: 36px;
          margin-bottom: 10px;
          text-align: center; }
        .home__third .contain .pcustom .infos p {
          font-family: brownlight;
          font-size: 16px;
          margin-bottom: 50px;
          text-align: center; }
        .home__third .contain .pcustom .infos a {
          text-align: center;
          color: white !important;
          text-decoration: none;
          padding: 15px 50px;
          background: linear-gradient(85deg, #ff766d, #dc52f4);
          width: auto;
          border-radius: 10px;
          font-size: 16px;
          font-family: brownregular;
          display: inline-block; }
  @media screen and (max-width: 1500px) {
    .home__third .infos h3 {
      font-size: 24px !important; } }
  @media screen and (max-width: 1420px) {
    .home__third h2 {
      font-size: 36px !important; } }
  @media screen and (max-width: 1250px) {
    .home__third .program {
      height: 400px !important; }
      .home__third .program .infos {
        width: 50% !important; }
      .home__third .program .img {
        width: 50% !important; } }
  @media screen and (max-width: 1050px) {
    .home__third {
      padding: 25px 50px !important; }
      .home__third .program {
        width: 382px !important;
        flex-direction: column !important;
        justify-content: center; }
        .home__third .program .dark_overlay {
          z-index: 0;
          display: block !important;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, transparent 20%, rgba(0, 0, 0, 0.6) 100%); }
        .home__third .program .infos {
          display: flex;
          flex-direction: column;
          align-items: center;
          z-index: 10;
          width: 80% !important;
          padding: 10px !important; }
          .home__third .program .infos h3 {
            text-align: center; }
          .home__third .program .infos p {
            font-family: brownregular;
            text-align: center;
            color: white; }
        .home__third .program.ikigai {
          background: url("/src/img/home/ikigai.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .home__third .program.hs {
          background: url("/src/img/home/hs.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .home__third .program.child {
          background: url("/src/img/home/child.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .home__third .program.working {
          background: url("/src/img/home/working.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .home__third .program h3 {
          color: white;
          font-size: 28px !important; }
        .home__third .program .img {
          display: none; }
      .home__third .pcustom {
        width: 382px !important; } }
  @media screen and (max-width: 768px) {
    .home__third {
      padding: 0px 50px 50px 50px !important; } }
  @media screen and (max-width: 375px) {
    .home__third .program {
      width: 343px !important;
      height: 500px !important; }
    .home__third .pcustom {
      width: 343px !important; }
      .home__third .pcustom .infos {
        padding: 50px !important; } }
  @media screen and (max-width: 360px) {
    .home__third .program {
      width: 328px !important;
      height: 500px !important; }
    .home__third .pcustom {
      width: 328px !important; } }
  @media screen and (max-width: 320px) {
    .home__third .program {
      width: 300px !important;
      height: 500px !important; }
    .home__third .pcustom {
      width: 300px !important; } }

.home__fourth {
  padding: 50px 25px 75px 25px;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .home__fourth {
      padding: 25px 25px 50px 25px; } }
  .home__fourth .container {
    height: 100%;
    display: block; }
    .home__fourth .container .title {
      width: 35%;
      min-width: 270px;
      margin: auto;
      display: block;
      margin-bottom: 30px; }
      .home__fourth .container .title h3 {
        font-family: brownbold;
        color: black;
        font-size: 48px;
        text-align: center; }
    .home__fourth .container .wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      z-index: 1;
      flex-direction: row;
      justify-content: center; }
      .home__fourth .container .wrapper .contain {
        display: inline-block;
        max-width: 575px;
        margin-right: 3%; }
        .home__fourth .container .wrapper .contain p {
          font-family: brownlight;
          color: black;
          text-align: end; }
        .home__fourth .container .wrapper .contain a {
          color: white !important;
          text-decoration: none;
          display: inline-block;
          margin-top: 50px;
          padding: 15px 50px;
          background: linear-gradient(85deg, #ff766d, #dc52f4);
          width: auto;
          border-radius: 10px;
          font-size: 16px;
          font-family: brownregular;
          float: right; }
      .home__fourth .container .wrapper .faq {
        width: 40%;
        max-width: 575px;
        margin-left: 3%;
        display: flex;
        flex-direction: column; }
        .home__fourth .container .wrapper .faq .q {
          padding: 15px 25px 15px 25px;
          width: 75%;
          height: auto;
          cursor: pointer;
          background-color: white;
          box-shadow: 0px 2px 13px 3px rgba(133, 143, 175, 0.1);
          margin-top: 25px;
          border-radius: 10px; }
          .home__fourth .container .wrapper .faq .q .qtitle {
            font-family: brownbold;
            color: #3D3D3D;
            font-size: 14px; }
          .home__fourth .container .wrapper .faq .q.active {
            height: auto;
            padding: 10px 25px 15px 25px; }
            .home__fourth .container .wrapper .faq .q.active .gtitle {
              margin-bottom: 10px; }
          .home__fourth .container .wrapper .faq .q .subq {
            display: none; }
            .home__fourth .container .wrapper .faq .q .subq p {
              font-family: brownlight;
              font-size: 16px;
              margin-top: 10px; }
            .home__fourth .container .wrapper .faq .q .subq.active {
              display: block; }
  @media screen and (max-width: 1285px) {
    .home__fourth h3 {
      font-size: 36px !important; }
    .home__fourth p {
      font-size: 14px !important; }
    .home__fourth a {
      font-size: 14px !important; }
    .home__fourth .container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .home__fourth .container .wrapper {
        flex-direction: column; }
    .home__fourth .contain {
      margin-right: 0 !important; }
      .home__fourth .contain p {
        text-align: center !important; }
      .home__fourth .contain a {
        float: none !important;
        margin: auto;
        margin-top: 50px !important;
        display: block !important;
        width: 105px !important;
        text-align: center !important; }
    .home__fourth .faq {
      width: auto !important;
      margin-left: 0 !important;
      margin-top: 35px;
      flex-direction: column;
      align-items: center;
      padding: 0 25px; }
      .home__fourth .faq .q {
        width: 100% !important; }
        .home__fourth .faq .q p {
          text-align: center; } }

.home__fifth {
  padding: 40px 0;
  background: #FAFAFC;
  font-family: brownlight; }
  .home__fifth .inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px; }
    .home__fifth .inner-width h1 {
      text-align: center;
      font-size: 24px;
      font-family: brownbold; }
    .home__fifth .inner-width .border {
      width: 100px;
      height: 3px;
      margin: 40px auto;
      background: #333; }
    .home__fifth .inner-width .testimonial {
      background: white;
      box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
      padding: 40px;
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      margin-bottom: 25px; }
      .home__fifth .inner-width .testimonial .test-pic {
        width: 50px !important;
        border-radius: 50%;
        margin-right: 15px; }
      .home__fifth .inner-width .testimonial .test-info {
        display: flex;
        height: 60px;
        align-items: center; }
  .home__fifth .test-name {
    font-size: 12px; }
    .home__fifth .test-name span {
      display: block;
      font-size: 14px;
      font-weight: 700; }
  .home__fifth .testimonial p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px; }

.about__first {
  height: 600px;
  background: url("/src/img/about/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about__first .contain h1 {
    text-align: center;
    font-family: brownbold;
    color: white;
    font-size: 48px;
    margin-bottom: 15px; }
  .about__first .contain h3 {
    text-align: center;
    font-family: brownlight;
    color: white;
    font-size: 18px; }
  @media screen and (max-width: 769px) {
    .about__first {
      height: 450px; }
      .about__first h1 {
        font-size: 36px !important; }
      .about__first h3 {
        font-size: 16px !important; } }

.about__second {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about__second .contain {
    padding: 25px 50px;
    width: 75%; }
    .about__second .contain h2 {
      text-align: center;
      font-size: 48px;
      font-family: brownbold;
      margin-bottom: 50px;
      color: black; }
    .about__second .contain p {
      text-align: justify;
      text-align-last: center;
      margin-bottom: 25px;
      font-family: brownlight;
      line-height: 150%; }
  @media screen and (max-width: 769px) {
    .about__second h2 {
      font-size: 24px !important; } }

.about__third {
  background: #FAFAFC;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about__third .contain {
    padding: 25px 50px;
    width: 75%; }
    .about__third .contain h2 {
      text-align: center;
      font-size: 48px;
      font-family: brownbold;
      margin-bottom: 50px;
      color: black; }
    .about__third .contain .values {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center; }
      .about__third .contain .values .value {
        display: block;
        background: white;
        width: 255px;
        height: 350px;
        padding: 25px;
        margin: 25px;
        box-shadow: 14px 41px 54px 0 rgba(133, 143, 175, 0.1);
        border-radius: 15px; }
        .about__third .contain .values .value h4 {
          color: black;
          text-align: center;
          font-family: brownregular;
          font-size: 16px;
          margin-bottom: 20px; }
        .about__third .contain .values .value ul {
          list-style: none;
          text-align: center; }
          .about__third .contain .values .value ul li {
            margin-bottom: 10px;
            font-family: brownlight;
            font-size: 16px; }
  @media screen and (max-width: 769px) {
    .about__third h2 {
      font-size: 24px !important; }
    .about__third .value {
      height: auto !important;
      margin: 25px 0 !important; } }

.about__fourth {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about__fourth .contain {
    padding: 50px;
    width: 75%; }
    .about__fourth .contain h2 {
      color: black;
      text-align: center;
      font-size: 48px;
      font-family: brownbold;
      margin-bottom: 50px; }
    .about__fourth .contain .steps {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center; }
      .about__fourth .contain .steps .step {
        display: block;
        width: 255px;
        height: 400px;
        padding: 25px;
        margin: 25px;
        transition: all .2s;
        border-radius: 20px; }
        .about__fourth .contain .steps .step:hover {
          box-shadow: 0px 0px 54px 5px rgba(133, 143, 175, 0.1); }
        .about__fourth .contain .steps .step .number {
          display: block;
          height: 75px;
          width: 75px;
          border-radius: 100%;
          margin: 10px auto 25px auto; }
          .about__fourth .contain .steps .step .number.n1 {
            background: #662D91; }
          .about__fourth .contain .steps .step .number.n2 {
            background: linear-gradient(90deg, #A33695 0%, #ED6BAB 100%); }
          .about__fourth .contain .steps .step .number.n3 {
            background: linear-gradient(90deg, #FF7784 0%, #EA1DEF 100%); }
          .about__fourth .contain .steps .step .number.n4 {
            background: linear-gradient(90deg, #EA1DEF 0%, #35B5EF 100%); }
          .about__fourth .contain .steps .step .number h3 {
            color: black;
            font-family: brownbold;
            font-size: 46px;
            text-align: center;
            color: white; }
        .about__fourth .contain .steps .step h4 {
          font-family: brownregular;
          text-align: center;
          margin-bottom: 25px;
          color: black; }
        .about__fourth .contain .steps .step p {
          font-family: brownlight;
          text-align: center;
          margin: 0 auto 10px auto;
          font-size: 16px;
          width: 75%; }
  @media screen and (max-width: 769px) {
    .about__fourth h2 {
      font-size: 24px !important; }
    .about__fourth .steps {
      flex-direction: column !important; }
    .about__fourth .step {
      margin: 25px 0 !important;
      height: auto !important;
      padding: 25px 0 !important; } }

.contactform {
  height: calc(100vh - 94px);
  background: linear-gradient(45deg, #ff766d, #dc52f4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contactform .contain {
    display: flex;
    flex-direction: column;
    width: 390px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 42px 55px 45px 55px; }
    @media screen and (max-width: 769px) {
      .contactform .contain {
        width: 75% !important;
        padding: 42px 35px 45px 35px; } }
    .contactform .contain h1 {
      font-family: brownbold;
      margin-bottom: 25px; }
    .contactform .contain .form {
      margin: 10px; }
    .contactform .contain input[type="text"], .contactform .contain input[type="email"], .contactform .contain textarea {
      background: none;
      height: 40px;
      border: 0;
      border-bottom: solid 2px #f2f2f2;
      font-family: brownlight;
      font-weight: 500;
      font-size: 14px;
      width: 100%;
      padding: 0 0 0 15px; }
    .contactform .contain textarea {
      margin-top: 10px;
      min-height: 115px;
      max-width: 385px;
      max-height: 385px; }
    .contactform .contain label {
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      font-family: brownlight;
      display: block; }
    .contactform .contain button {
      font-size: 14px;
      font-family: brownregular;
      background: #f0f1f7;
      border: none;
      border-radius: 25px;
      padding: 12px 20px;
      cursor: pointer;
      margin-top: 25px; }

.alert {
  font-family: brownlight;
  font-weight: 600;
  font-size: 14px;
  color: #c7c7c7; }

.programs__first {
  height: 600px;
  background: url("/src/img/programs/bgsec1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .programs__first .dark_overlay {
    z-index: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 30%, rgba(0, 0, 0, 0.6) 100%); }
  .programs__first .contain {
    z-index: 10; }
    .programs__first .contain h1 {
      text-align: center;
      font-family: brownbold;
      color: white;
      font-size: 48px;
      margin-bottom: 15px; }
    .programs__first .contain h3 {
      text-align: center;
      font-family: brownlight;
      color: white;
      font-size: 18px; }
  @media screen and (max-width: 769px) {
    .programs__first {
      height: 450px !important; } }
  @media screen and (max-width: 415px) {
    .programs__first {
      padding: 25px !important; }
      .programs__first h1 {
        font-size: 36px !important; }
      .programs__first h3 {
        font-size: 16px !important; } }

.programs__second {
  padding: 30px 75px; }
  .programs__second .contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .programs__second .contain h2 {
      font-family: brownbold;
      font-size: 24px;
      padding: 25px;
      text-align: center; }
    .programs__second .contain .programs {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%; }
      .programs__second .contain .programs .program {
        margin: 25px;
        height: 250px;
        width: 250px;
        border-radius: 10px;
        box-shadow: 0 0 12px 6px rgba(100, 100, 100, 0.2);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .programs__second .contain .programs .program .dark_overlay {
          z-index: 11;
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, transparent 20%, rgba(0, 0, 0, 0.7) 100%); }
        .programs__second .contain .programs .program.ikigai {
          background: url("/src/img/home/ikigai.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .programs__second .contain .programs .program.hs {
          background: url("/src/img/home/hs.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .programs__second .contain .programs .program.working {
          background: url("/src/img/home/working.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .programs__second .contain .programs .program.custom {
          background: url("/src/img/home/custom.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .programs__second .contain .programs .program.child {
          background: url("/src/img/home/child.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover; }
        .programs__second .contain .programs .program h3 {
          width: 200px;
          z-index: 12;
          font-family: brownbold;
          font-size: 18px;
          color: white;
          text-align: center; }
  @media screen and (max-width: 769px) {
    .programs__second {
      padding: 50px 25px !important; } }

.program__third {
  display: none;
  padding: 25px 75px 50px 75px; }
  .program__third .contain {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .program__third .contain .title {
      text-align: center; }
      .program__third .contain .title h2 {
        font-family: brownbold;
        font-size: 36px;
        margin-bottom: 25px; }
      .program__third .contain .title h4 {
        font-family: brownbold;
        font-size: 24px;
        margin-bottom: 10px; }
      .program__third .contain .title p {
        font-family: brownlight;
        font-size: 18px; }
    .program__third .contain .what {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap; }
      .program__third .contain .what .parents {
        background: linear-gradient(90deg, #FF7784 0%, #ed60f1 100%);
        color: white; }
      .program__third .contain .what .infos {
        width: 40%;
        padding: 25px;
        margin: auto;
        display: block;
        min-width: 400px;
        transition: all .2s;
        border-radius: 15px; }
        .program__third .contain .what .infos:hover {
          box-shadow: 0px 0px 54px 5px rgba(133, 143, 175, 0.1); }
        .program__third .contain .what .infos h3 {
          font-family: brownbold;
          font-size: 36px; }
        .program__third .contain .what .infos p {
          padding: 15px;
          font-family: brownlight;
          font-size: 16px;
          text-align: justify;
          text-align-last: left; }
      .program__third .contain .what .img {
        width: 40%;
        padding: 25px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .program__third .contain .what .img img {
          width: 500px; }
    .program__third .contain .moreInformations {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
      text-align-last: center;
      padding: 50px;
      background: linear-gradient(90deg, #FF7784 0%, #ed60f1 100%);
      border-radius: 15px;
      color: white;
      margin: 25px 0; }
      .program__third .contain .moreInformations p {
        font-family: brownlight;
        font-size: 16px; }
      .program__third .contain .moreInformations h5 {
        font-family: brownlight;
        font-size: 16px;
        padding: 5px; }
      .program__third .contain .moreInformations h3 {
        font-family: brownbold;
        font-size: 24px;
        padding: 5px;
        margin-bottom: 10px; }
    .program__third .contain .whywho {
      padding: 0 50px 25px 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; }
      .program__third .contain .whywho .why, .program__third .contain .whywho .who {
        width: 40%;
        min-width: 400px;
        padding: 50px;
        transition: all .2s; }
        .program__third .contain .whywho .why:hover, .program__third .contain .whywho .who:hover {
          box-shadow: 0px 0px 54px 5px rgba(133, 143, 175, 0.1);
          border-radius: 15px; }
        .program__third .contain .whywho .why h3, .program__third .contain .whywho .who h3 {
          font-family: brownbold;
          font-size: 36px;
          margin-bottom: 25px; }
        .program__third .contain .whywho .why li, .program__third .contain .whywho .who li {
          font-family: brownlight;
          font-size: 16px;
          margin-bottom: 10px; }
    .program__third .contain .reassurance {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-width: 400px;
      padding: 50px;
      max-width: 1500px;
      box-shadow: 20px 20px 60px #d9d9d973, -20px -20px 60px #ffffff8a;
      border-radius: 20px; }
      .program__third .contain .reassurance h3 {
        font-family: brownbold;
        font-size: 36px;
        margin-bottom: 25px; }
      .program__third .contain .reassurance h4 {
        font-family: brownlight;
        font-size: 24px;
        margin-bottom: 15px; }
      .program__third .contain .reassurance p {
        font-family: brownlight;
        font-size: 18px;
        margin-bottom: 5px; }
      .program__third .contain .reassurance .cta {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; }
        .program__third .contain .reassurance .cta h4 {
          font-size: 24px;
          font-family: brownbold;
          margin: 50px; }
        .program__third .contain .reassurance .cta a {
          margin: 25px;
          color: white !important;
          text-decoration: none;
          display: inline-block;
          padding: 15px 50px;
          background: linear-gradient(85deg, #ff766d, #dc52f4);
          width: auto;
          border-radius: 10px;
          font-size: 16px;
          font-family: brownbold; }
  .program__third.active {
    display: block; }
  @media screen and (max-width: 769px) {
    .program__third {
      padding: 25px 50px 50px 50px !important; }
      .program__third .infos {
        width: 80% !important; }
      .program__third h3 {
        text-align: center; }
      .program__third p {
        padding-left: 0; } }
  @media screen and (max-width: 415px) {
    .program__third {
      padding: 40px; }
      .program__third .title h2 {
        font-size: 24px !important; }
      .program__third .title h4 {
        font-size: 18px !important; }
      .program__third .title p {
        font-size: 16px !important; }
      .program__third .what {
        margin: 25px 0 !important; }
      .program__third .infos {
        min-width: auto !important;
        width: 100% !important;
        padding: 25px 0 !important; }
        .program__third .infos h3 {
          font-size: 24px !important; }
      .program__third .img {
        width: auto !important;
        padding: 25px 0 !important; }
        .program__third .img img {
          width: 100% !important; }
      .program__third .moreInformations {
        text-align: justify !important;
        text-align-last: center;
        padding: 25px !important; }
        .program__third .moreInformations p {
          padding: 5px 0 !important; }
        .program__third .moreInformations h5 {
          padding: 10px 0 !important; }
      .program__third .whywho {
        padding: 0 !important; }
        .program__third .whywho .why, .program__third .whywho .who {
          padding: 25px !important;
          width: auto !important;
          min-width: auto !important; }
          .program__third .whywho .why h3, .program__third .whywho .who h3 {
            font-size: 24px !important; }
      .program__third .reassurance {
        min-width: auto !important;
        padding: 25px !important; }
        .program__third .reassurance h4 {
          font-size: 24px !important; }
        .program__third .reassurance p {
          font-size: 16px !important; } }

.coaching__first {
  height: 600px;
  background: url("/src/img/redplant.jpg") center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .coaching__first .dark_overlay {
    z-index: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 30%, rgba(0, 0, 0, 0.6) 100%); }
  .coaching__first .contain {
    z-index: 10; }
    .coaching__first .contain h1 {
      text-align: center;
      font-family: brownbold;
      color: white;
      font-size: 48px;
      margin-bottom: 15px; }
    .coaching__first .contain h2 {
      text-align: center;
      font-family: brownlight;
      color: white;
      font-size: 18px; }
  @media screen and (max-width: 769px) {
    .coaching__first {
      height: 450px !important; } }
  @media screen and (max-width: 415px) {
    .coaching__first {
      padding: 25px !important; }
      .coaching__first h1 {
        font-size: 36px !important; }
      .coaching__first h3 {
        font-size: 16px !important; } }

.coaching {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .coaching .contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 75px;
    width: 75%; }
    @media screen and (max-width: 769px) {
      .coaching .contain {
        padding: 50px 75px 25px 75px !important; } }
    .coaching .contain h3 {
      padding: 0 0 25px 0;
      font-family: brownbold;
      font-size: 36px;
      text-align: center; }
    .coaching .contain p {
      font-family: brownlight;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      line-height: 150%; }
    .coaching .contain h4 {
      padding-top: 15px;
      font-family: brownbold;
      font-style: italic; }
    .coaching .contain a {
      text-align: center;
      margin: 50px;
      color: white !important;
      text-decoration: none;
      display: inline-block;
      padding: 15px 50px;
      background: linear-gradient(85deg, #ff766d, #dc52f4);
      width: auto;
      border-radius: 10px;
      font-size: 16px;
      font-family: brownbold; }
  @media screen and (max-width: 769px) {
    .coaching h3 {
      font-size: 24px !important; }
    .coaching p {
      text-align: justify !important;
      text-align-last: center; } }

.coaching__second {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .coaching__second ul {
    list-style: none;
    font-family: brownbold;
    text-align: center;
    padding: 25px 0;
    color: #3D3D3D; }
    .coaching__second ul li {
      margin: 10px 0; }

.coaching__third {
  background: linear-gradient(90deg, #FF7784 0%, #ed60f1 100%);
  margin: 0 75px;
  box-shadow: 10px 10px 20px 8px rgba(133, 143, 175, 0.1);
  border-radius: 25px; }
  @media screen and (max-width: 769px) {
    .coaching__third {
      margin: 0 25px !important; } }
  .coaching__third h3, .coaching__third h4, .coaching__third p {
    color: white; }

.coaching__fourth ul {
  list-style: none;
  font-family: brownlight;
  text-align: center;
  padding: 25px 0;
  color: #3D3D3D; }
  .coaching__fourth ul li {
    margin: 10px 0; }
@media screen and (max-width: 769px) {
  .coaching__fourth ul {
    text-align: justify !important;
    text-align-last: center; } }

.coaching__fifth .contain {
  background: #FAFAFC;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 25px 75px 0 75px !important; }

.footer {
  background-color: #FAFAFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 -41px 54px 0 rgba(133, 143, 175, 0.1); }
  .footer .contain {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 75px;
    width: 75%; }
    .footer .contain img {
      height: 60px; }
    .footer .contain h4 {
      font-size: 18px;
      font-family: brownbold;
      margin-bottom: 25px; }
    .footer .contain ul {
      list-style: none; }
    .footer .contain li {
      font-family: brownlight;
      margin-bottom: 5px; }
    .footer .contain a {
      text-decoration: none;
      color: #201553; }
    .footer .contain div {
      padding: 25px; }
  .footer .copyright {
    padding: 25px 100px;
    font-family: brownlight;
    font-size: 14px;
    text-align: center; }
  @media screen and (max-width: 769px) {
    .footer .contain {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 50px !important; }
      .footer .contain div {
        padding: 25px 0; }
    .footer .copyright {
      padding: 25px 50px !important; } }

/*# sourceMappingURL=global.css.map */
