@import url("https://fonts.googleapis.com/css?family=Kulim+Park&display=swap");
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'brownregular';
  src: url("https://ressources.killiandivincenzo.fr/fonts/brownregular.woff") format("woff"); }
.header {
  overflow: hidden;
  background: white;
  padding: 5px 100px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); }

.header__logo {
  height: 60px;
  text-align: center;
  margin-top: 10px; }

.header__menu {
  float: right; }

.header__a {
  font-family: 'brownregular';
  float: left;
  color: #201553;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 14px;
  line-height: 60px; }

/*# sourceMappingURL=header.css.map */
