.header{
  overflow: hidden;
  background: white;
  padding: 5px 100px;
  box-shadow: 0 41px 54px 0 rgba(133,143,175,.1);
  height: 84px;
  position: relative;
  z-index: 1;

}

.header__menu2{display: none}

.header__logo{
  height: 60px;
  text-align: center;
  margin-top: 10px;
}

.header__menu{
  float: right;
}

.header__a{
  font-family: 'brownregular';
  float: left;
  color: black;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 14px;
  line-height: 60px;
}

$pix-size: 6px;
.header__burger{

    position: relative;
    display: none;
    width: ($pix-size*5);
    height: ($pix-size*5);

    .pix {
      position: absolute;
      width: $pix-size;
      height: $pix-size;
      background-color: black;
      border-radius: 100%;
      transition: 0.2s ease-in-out;

      $num: 0;
      @for $i from 1 through 9 {
        @if $i%3 == 1 {
          $num: 0;
        }

        &:nth-of-type(#{$i}) {
          transform: translate(($pix-size*2)*$num, ($pix-size*2)*(floor(($i - 1)/3)))
        }

        $num: $num + 1;
      }
    }

    &:hover {
      .pix {
        background-color: black;

        &:nth-of-type(1) { transform: translate(-($pix-size), -($pix-size)); }
        &:nth-of-type(3) { transform: translate(($pix-size*5), -($pix-size)); }
        &:nth-of-type(7) { transform: translate(-($pix-size), ($pix-size*5)); }
        &:nth-of-type(9) { transform: translate(($pix-size*5), ($pix-size*5)); }
      }
    }

    &.active {
      .pix {
        &:nth-of-type(1) { transform: translate(0, 0); }
        &:nth-of-type(2) { transform: translate($pix-size, $pix-size); }
        &:nth-of-type(3) { transform: translate(($pix-size*4), 0); }
        &:nth-of-type(4) { transform: translate($pix-size, ($pix-size*3)); }
        &:nth-of-type(6) { transform: translate(($pix-size*3), $pix-size); }
        &:nth-of-type(7) { transform: translate(0, ($pix-size*4)); }
        &:nth-of-type(8) { transform: translate(($pix-size*3), ($pix-size*3)); }
        &:nth-of-type(9) { transform: translate(($pix-size*4), ($pix-size*4)); }
      }

      &:hover {
        .pix {
          &:nth-of-type(1) { transform: translate(-($pix-size), -($pix-size)); }
          &:nth-of-type(2) { transform: translate(($pix-size/2), ($pix-size/2)); }
          &:nth-of-type(3) { transform: translate(($pix-size*5), -($pix-size)); }
          &:nth-of-type(4) { transform: translate(($pix-size/2), ($pix-size*3.5)); }
          &:nth-of-type(6) { transform: translate(($pix-size*3.5), ($pix-size/2)); }
          &:nth-of-type(7) { transform: translate(-($pix-size), ($pix-size*5)); }
          &:nth-of-type(8) { transform: translate(($pix-size*3.5), ($pix-size*3.5)); }
          &:nth-of-type(9) { transform: translate(($pix-size*5), ($pix-size*5)); }
        }
      }
    }
  }

@media screen and (max-width: 1120px){

  body{

    &.active{
      overflow: hidden;
      height: 100vh;
    }
  }

  .header{
    padding: 5px 25px;


    &.active{
      height: 100vh;
      overflow: scroll;
    }
  }

  .header__burger{
    display: block;
    float: right;
    padding: 12px 0;
    margin: 15px 10px;
  }

  .header__menu{
    display: none;
  }

  .header__menu2{
    margin: 25px;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    list-style: none;
    justify-content: space-around;


    &.active{
      display: flex;
    }

    .cuboidmenu{
      margin:25px;
      position: relative;
      float: left;
      display: list-item;
      height: 250px;
      width: 250px;
      background: white;
      box-shadow: 0 0 5px rgba(0,0,0,0.10);
      padding:5px;

      div{
        width: 125px;
        height: 125px;
        margin: auto;
        display: block;
        margin-top: 25px;
      }

      img{
        width: 125px;
        margin: auto;
        display: block;
        margin-top: 25px;
      }

      p{
        font-family: brownregular;
        font-size: 22px;
        color: black !important;
        text-decoration: none;
        text-align: center;
        margin-top: 25px;

        a{
          text-decoration: none;
          color: black !important;
        }
      }
    }
  }
}