.home__first{

  
  overflow: hidden;

  .container{
    margin-top: 0;

      .wrapper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 675px;
        position: relative;
        z-index: 1;
        flex-direction: row;
        justify-content: center;

        .home__first_lifepath{
          display: inline-block;
          max-width: 575px;
          margin-right: 4%;
          margin-left: 4%;

          h1{
            font-family: brownbold;
            font-size: 48px;
            overflow-wrap: break-word;
            max-width: 550px;
          }
          .subtitle{
            margin-top: 25px;
            font-family: brownlight;
          }
          a{
            color: white !important;
            text-decoration: none;
            display: inline-block;
            margin-top: 50px;
            padding: 15px 50px;
            background: linear-gradient(85deg, rgb(255,118,109), rgb(220,82,244));
            width: auto;
            border-radius: 10px;
            font-size: 16px;
            font-family: brownregular;
          }
          span{
            border: solid 1px #C4C4C4;
            display: block;
            width:50px;
            margin-top: 75px;
          }
          .baseline{
            margin-top: 10px;
            font-family: brownlight;
            overflow-wrap: break-word;
            width: 450px;
            color: #7F7F7F;
          }

        }

        img{
          margin-left:4%;
          margin-right: 4%;
          width: 30%;
          min-width: 450px;
        }

      }



    }

  @media screen and (max-width: 768px){
    margin-top: 25px;
    background: none;

    .wrapper{
      height: 590px !important;
    }

    h1{
      text-align: center;
      max-width: 95% !important;
      margin: auto;
      font-size: 36px !important;
    }

    .subtitle{
      font-size: 16px;
      text-align: center;
      overflow-wrap: break-word;
      width: 90%;
      margin: auto;
    }
    span{
      margin: auto;
    }
    .baseline{
      font-size: 16px !important;
      width: 90% !important;
      margin:auto;
      text-align: center;
    }

    a{

      display: block !important;
      margin: 50px auto 0 auto  !important;
      width: 30% !important;
      font-size: 14px !important;
      text-align: center;
    }

    .home__first_lifepath{
      margin-bottom: 25px;
    }

    img{
     display: none;

    }
  }

  @media screen and (max-width: 1190px){
    img{
      display: none;
    }
  }
}

.home__second{
  background-color: #ff7784;
  overflow: hidden;

  .contain{
    padding: 50px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    @media screen and (max-width: 768px){
      padding: 25px !important;
    }

    .story{
      margin: 50px;
      width: 50%;

      h2{
        font-family: brownbold;
        font-size: 48px;
        color: white;
        margin-bottom: 50px;
      }

      p{
        font-family: brownlight;
        color: white;
        margin-bottom: 25px;
      }

      a {
        color: #FF7784 !important;
        text-decoration: none;
        display: inline-block;
        padding: 15px 50px;
        background: white;
        width: auto;
        border-radius: 10px;
        font-size: 16px;
        font-family: brownregular;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.20);
        text-align: center;
      }
    }

    img{
      margin: 50px;
      max-height: 600px;

    }

  }

  @media screen and (max-width: 1420px){
    .contain{

      .story{
        width: 65% !important;
        display: flex;
        flex-direction: column;
        align-items: center;


        h2,p {
          text-align: center;

        }

        h2{
          font-size: 36px;
        }

        p{
          text-align: justify;
          text-align-last: center;
        }
      }

      img{
        max-height: 500px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .contain{

      .story{
        margin: 25px !important;
        width: 100% !important;

      }

      img{
        max-height: 400px;
      }
    }
  }

}

.home__third{
  padding: 0px 50px 75px 50px;


  .dark_overlay{
    display: none;
  }

  .contain{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
      font-size: 48px;
      font-family: brownbold;
      color: black;
      text-align: center;
      margin-bottom: 100px;

      @media screen and (max-width: 768px){
        margin-bottom: 50px !important;
      }

    }

    .program{
      position: relative;
      height: 350px;
      border-radius: 35px;
      background-color: white;
      width: 80%;
      box-shadow:0px 2px 20px 8px rgba(133,143,175,.1);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 70px;

      @media screen and (max-width: 768px){
        margin-bottom: 35px !important;
      }

      .infos{
        padding: 75px;
        width: 60%;

        h3{
          font-family: brownbold;
          font-size: 36px;
          margin-bottom: 10px;
        }

        p{
          font-family: brownlight;
          font-size: 16px;
          margin-bottom: 50px;
        }


        a {
          color: white !important;
          text-decoration: none;
          padding: 15px 50px;
          background: linear-gradient(85deg, rgb(255, 118, 109), rgb(220, 82, 244));
          width: auto;
          border-radius: 10px;
          font-size: 16px;
          font-family: brownregular;
          display: inline-block;
          text-align: center;
        }
      }

      .img{
        width: 40%;
        height: 100%;

        &.ikigai{
          background: url("/src/img/home/ikigai.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover;
        }

        &.hs{
          background: url("/src/img/home/hs.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover;
        }

        &.child{
          background: url("/src/img/home/child.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover;
        }

        &.working{
          background: url("/src/img/home/working.jpg") no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover;
        }

      }
    }

    .pcustom{
      height: 700px;
      border-radius: 35px;
      background-color: white;
      width: 80%;
      box-shadow:0px 2px 20px 8px rgba(133,143,175,.1);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .img{
        width: 100%;
        height: 50%;
        background: url("/src/img/home/custom.jpg") no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;
      }

      .infos{
        padding: 75px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;



        h3{
          font-family: brownbold;
          font-size: 36px;
          margin-bottom: 10px;
          text-align: center;
        }

        p{
          font-family: brownlight;
          font-size: 16px;
          margin-bottom: 50px;
          text-align: center;
        }


        a {
          text-align: center;
          color: white !important;
          text-decoration: none;
          padding: 15px 50px;
          background: linear-gradient(85deg, rgb(255, 118, 109), rgb(220, 82, 244));
          width: auto;
          border-radius: 10px;
          font-size: 16px;
          font-family: brownregular;
          display: inline-block;
        }
      }
    }
  }

  @media screen and (max-width: 1500px){


   .infos{

     h3{
       font-size: 24px !important;
     }
   }
  }

  @media screen and (max-width: 1420px){
    h2{
      font-size: 36px !important;
    }
  }

  @media screen and (max-width: 1250px){
    .program{
      height: 400px !important;
      .infos{
        width: 50% !important;
      }
      .img{
        width: 50% !important;

      }
    }

  }

  @media screen and (max-width: 1050px){

    padding: 25px 50px !important;

    .program{
      width: 382px !important;
      flex-direction: column !important;
      justify-content: center;

      .dark_overlay{
        z-index: 0;
        display: block !important;
        position: absolute;
        left:0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, transparent 20%, rgba(0,0,0,0.6) 100%);
      }

      .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        width: 80% !important;
        padding: 10px !important;
        h3{
          text-align: center;
        }
        p{
          font-family: brownregular ;
          text-align: center;
          color: white;
        }
      }

      &.ikigai {
        background: url("/src/img/home/ikigai.jpg") no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;
      }

      &.hs{
        background: url("/src/img/home/hs.jpg") no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;
      }

      &.child{
        background: url("/src/img/home/child.jpg") no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;
      }

      &.working{
        background: url("/src/img/home/working.jpg") no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;
      }

      h3{
        color: white;
        font-size: 28px !important;
      }

      .img{
        display: none;
      }
    }

    .pcustom{
      width: 382px !important;
    }
  }

  @media screen and (max-width: 768px){
    padding: 0px 50px 50px 50px !important;
  }

  @media screen and (max-width: 375px){

    .program{
      width: 343px !important;
      height: 500px !important;

    }

    .pcustom{
      width: 343px !important;

      .infos{
        padding: 50px !important;
      }
    }
  }

  @media screen and (max-width: 360px){

    .program{
      width: 328px !important;
      height: 500px !important;

    }

    .pcustom{
      width: 328px !important;
    }
  }

  @media screen and (max-width: 320px){

    .program{
      width: 300px !important;
      height: 500px !important;

    }

    .pcustom{
      width: 300px !important;
    }
  }

}

.home__fourth {
  padding: 50px 25px 75px 25px;

  overflow: hidden;

  @media screen and (max-width: 768px){
    padding: 25px 25px 50px 25px;
  }

  .container {
    height: 100%;
    display: block;

    .title {
      width: 35%;
      min-width: 270px;
      margin: auto;
      display: block;
      margin-bottom: 30px;

      h3 {
        font-family: brownbold;
        color: black;
        font-size: 48px;
        text-align: center;
      }

    }



    .wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      z-index: 1;
      flex-direction: row;
      justify-content: center;

      .contain {
        display: inline-block;
        max-width: 575px;
        margin-right: 3%;

        p {
          font-family: brownlight;
          color: black;
          text-align: end;
        }

        a {
          color: white !important;
          text-decoration: none;
          display: inline-block;
          margin-top: 50px;
          padding: 15px 50px;
          background: linear-gradient(85deg, rgb(255, 118, 109), rgb(220, 82, 244));
          width: auto;
          border-radius: 10px;
          font-size: 16px;
          font-family: brownregular;
          float: right;
        }
      }


      .faq {
        width: 40%;
        max-width: 575px;
        margin-left: 3%;
        display: flex;
        flex-direction: column;

        .q {
          padding: 15px 25px 15px 25px;
          width: 75%;
          height: auto;
          cursor: pointer;

          background-color: white;
          box-shadow: 0px 2px 13px 3px rgba(133,143,175,.1);
          margin-top: 25px;
          border-radius: 10px;

          .qtitle{
            font-family: brownbold;
            color: #3D3D3D;
            font-size: 14px;

          }

          &.active{
            height: auto;
            padding: 10px 25px 15px 25px;

            .gtitle{
              margin-bottom: 10px;

            }
          }

          .subq{
            display: none;

            p{
              font-family: brownlight;
              font-size: 16px;
              margin-top: 10px;
            }

            &.active{
              display: block;
            }
          }
        }
      }


    }
  }

  @media screen and (max-width: 1285px){

    h3{
      font-size: 36px !important;
    }

    p{font-size: 14px !important;}

    a{
      font-size: 14px !important;
    }

    .container{
      display: flex;
      flex-direction: column;
      align-items: center;

      .wrapper{
        flex-direction: column;
      }
    }



    .contain{
      margin-right: 0 !important;
      p{
        text-align: center !important;
      }
      a{
        float: none !important;
        margin:auto ;
        margin-top: 50px !important;
        display: block !important;
        width: 105px !important;
        text-align: center !important;
      }

    }

    .faq{
      width: auto !important;
      margin-left: 0 !important;
      margin-top:35px;
      flex-direction: column;
      align-items: center;
      padding: 0 25px;
      .q{
        width: 100% !important;

        p{
          text-align: center;
        }
      }
    }


  }
}

.home__fifth{
  padding: 40px 0;
  background: #FAFAFC;

  font-family: brownlight;

  .inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;

    h1{
      text-align: center;
      font-size: 24px;
      font-family: brownbold;

    }

    .border{
      width: 100px;
      height: 3px;
      margin: 40px auto;
      background: #333;
    }

    .testimonial{
      background: white;
      box-shadow: 14px 41px 54px 0 rgba(133,143,175,0.1);
      padding: 40px;
      overflow: hidden;
      border-radius: 15px;
      cursor:pointer;
      margin-bottom: 25px;

      .test-pic{
        width: 50px !important;
        border-radius:50% ;
        margin-right: 15px;
      }

      .test-info{
        display: flex;
        height: 60px;
        align-items: center;
      }
    }
  }

  .test-name{
    font-size: 12px;

    span{
      display: block;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .testimonial p{
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
  }


}