.programs__first{
  height: 600px;
  background: url('/src/img/programs/bgsec1.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .dark_overlay{
    z-index: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 30%, rgba(0,0,0,0.6) 100%);
  }

  .contain{
    z-index: 10;

    h1{
      text-align: center;
      font-family: brownbold;
      color: white;
      font-size: 48px;
      margin-bottom: 15px;
    }

    h3{
      text-align: center;
      font-family: brownlight;
      color: white;
      font-size: 18px;
    }


  }

  @media screen and (max-width: 769px){
    height: 450px !important;
  }

  @media screen and (max-width: 415px){
    padding: 25px !important;

   h1{
     font-size: 36px !important;
   }

    h3{
      font-size: 16px !important;
    }

  }
}

.programs__second{
  padding: 30px 75px;


  .contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h2{
      font-family: brownbold;
      font-size: 24px;
      padding: 25px;
      text-align: center;
    }

    .programs{
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;

      .program{
        margin:25px;
        height: 250px;
        width: 250px;
        border-radius: 10px;
        box-shadow:0 0 12px 6px rgba(100,100,100,0.20);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .dark_overlay{
          z-index: 11;
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, transparent 20%, rgba(0,0,0,0.7) 100%);
        }

        &.ikigai{
          background: url('/src/img/home/ikigai.jpg') no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover;
        }

        &.hs{
          background: url('/src/img/home/hs.jpg') no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover;
        }

        &.working{
          background: url('/src/img/home/working.jpg') no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover;
        }

        &.custom{
          background: url('/src/img/home/custom.jpg') no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover;
        }

        &.child{
          background: url('/src/img/home/child.jpg') no-repeat center center;
          -webkit-background-size: cover;
          background-size: cover;
        }

        h3{
          width: 200px;
          z-index: 12;
          font-family: brownbold;
          font-size: 18px;
          color: white;
          text-align: center;
        }
      }

    }
  }

  @media screen and (max-width: 769px){
    padding: 50px 25px !important;
  }
}

.program__third{
  display: none;
  padding: 25px 75px 50px 75px;

  .contain{
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
      text-align: center;

      h2{
        font-family: brownbold;
        font-size: 36px;
        margin-bottom: 25px;
      }

      h4{
        font-family: brownbold;
        font-size: 24px;
        margin-bottom: 10px;
      }

      p{
        font-family: brownlight;
        font-size: 18px;
      }

    }

    .what{
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;

      .parents{
        background: linear-gradient(90deg, #FF7784 0%, #ed60f1 100%);
        color: white;
      }



      .infos{
        width: 40%;
        padding: 25px;
        margin:auto;
        display: block;
        min-width: 400px;
        transition: all .2s;
        border-radius: 15px;
        &:hover{
          box-shadow: 0px 0px 54px 5px rgba(133,143,175,0.1);

        }


        h3{
          font-family: brownbold;
          font-size:36px;
        }

        p{
          padding: 15px;
          font-family: brownlight;
          font-size: 16px;
          text-align: justify;
          text-align-last:left ;
        }
      }

      .img{
        width: 40%;
        padding:25px;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;


        img{
          width: 500px;
        }
      }


    }

    .moreInformations{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
      text-align-last: center;
      padding: 50px;

      background: linear-gradient(90deg, #FF7784 0%, #ed60f1 100%);
      border-radius: 15px;
      color: white;
      margin: 25px 0;

      p{
        font-family: brownlight;
        font-size: 16px;

      }
      h5{
        font-family: brownlight;
        font-size: 16px;
        padding: 5px;
      }

      h3{
        font-family: brownbold;
        font-size: 24px;
        padding: 5px;
        margin-bottom: 10px;
      }

    }


    .whywho{
      padding: 0 50px 25px 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: space-around;



      .why, .who{
        width: 40%;
        min-width: 400px;
        padding: 50px;
        transition: all .2s;
        &:hover{
          box-shadow: 0px 0px 54px 5px rgba(133,143,175,0.1);
          border-radius: 15px;
        }

        h3{
          font-family: brownbold;
          font-size: 36px;
          margin-bottom: 25px;
        }
        li{
          font-family: brownlight;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }


    }

    .reassurance{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-width: 400px;
      padding: 50px;
      max-width:1500px;
      box-shadow: 20px 20px 60px #d9d9d973, -20px -20px 60px #ffffff8a;
      border-radius: 20px;

      h3{
        font-family: brownbold;
        font-size: 36px;
        margin-bottom: 25px;
      }

      h4{
        font-family: brownlight;
        font-size: 24px;
        margin-bottom: 15px;
      }

      p{
        font-family: brownlight;
        font-size: 18px;
        margin-bottom: 5px;
      }

      .cta{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h4{
          font-size: 24px;
          font-family: brownbold;
          margin:50px;
        }

        a{
          margin:25px;
          color: white !important;
          text-decoration: none;
          display: inline-block;
          padding: 15px 50px;
          background: linear-gradient(85deg, rgb(255,118,109), rgb(220,82,244));
          width: auto;
          border-radius: 10px;
          font-size: 16px;
          font-family: brownbold;
        }
      }
    }

  }

  &.active{
    display: block;
  }

  @media screen and (max-width: 769px){

    padding: 25px 50px 50px 50px !important;

    .infos{
      width: 80% !important;
    }

    h3{
      text-align: center;
    }

    p{
      padding-left: 0;
    }

  }

  @media screen and (max-width: 415px){

    padding:40px;

    .title{
      h2{
        font-size: 24px !important;
      }
      h4{
        font-size: 18px !important;
      }
      p{
        font-size: 16px !important;
      }
    }

    .what{
      margin: 25px 0 !important;
    }

    .infos{
      min-width: auto !important;
      width: 100% !important;
      padding: 25px 0 !important;

      h3{
        font-size: 24px !important;
      }
    }

    .img{
      width: auto !important;
      padding: 25px 0 !important;
      img{
        width:100% !important;
      }


    }

    .moreInformations{
      text-align: justify !important;
      text-align-last: center;
      padding: 25px !important;
      p{
        padding: 5px 0 !important;
      }
      h5{
        padding:10px 0 !important;
      }
    }

    .whywho{
      padding: 0 !important;

      .why, .who{
        h3{
          font-size: 24px !important;
        }
        padding: 25px !important;
        width: auto !important;
        min-width: auto !important;


      }

    }

    .reassurance{
      min-width: auto !important;
      padding: 25px !important;
      h4{
        font-size: 24px !important;

      }
      p{
        font-size: 16px !important;
      }
    }

  }


}

